.dockerignore
.DS_Store
.git
.gitignore
db.sqlite3
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/node_modules/
media/
static/
editor-demo_document/
editor-demo_frontend/
editor-demo_nginx/
.venv/
.env.development
.env
Dockerfile
docker-compose.yaml