db.sqlite3
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/node_modules/
media/
static/
bigtree_app_document/
bigtree_app_frontend/
bigtree_app_nginx/
.venv/
.env.development
.env
Dockerfile
docker-compose.yaml