db.sqlite3
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/node_modules/
media/
static/
bigtree_app_document/
bigtree_app_frontend/build/
bigtree_app_frontend/ios/
bigtree_app_frontend/android/
bigtree_app_frontend/.cache/
bigtree_app_document/
.venv/