root = true

[*.py]
charset = utf-8
indent_style = space
indent_size = 4

[*.js]
charset = utf-8
indent_style = space
indent_size = 2

[*.jsx]
charset = utf-8
indent_style = space
indent_size = 2

[*.ts]
charset = utf-8
indent_style = space
indent_size = 2

[*.tsx]
charset = utf-8
indent_style = space
indent_size = 2

# Windows files
[*.bat]
end_of_line = crlf