/* ======= Text Background Color ======= */
.toastui-editor-toolbar-icons.bg-color {
  background: none;
}

/* ======= Text Decoration ======= */
.toastui-editor-toolbar-icons.text-deco-icon-button {
  background: none;
  text-decoration: underline;
}

.toastui-editor-popup-text-deco .toastui-editor-popup-body {
  padding: 5px 0 !important;
}

.text-deco-icon-button {
  text-decoration: und;
}

.text-deco-custom-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-deco-custom-ul > li {
  padding: 4px 12px;
  cursor: pointer;
  font-weight: bold;
}

.text-deco-custom-ul > li:hover {
  background-color: #dff4ff;
}

.strike-custom-button .icon {
  text-decoration: line-through;
}

.underline-custom-button .icon {
  text-decoration: underline;
}

.text-deco-custom-ul .text {
  margin-left: 6px;
}

/* ======= List Icon ======= */
.ul-test {
  list-style-type: none;
  padding-left: 24px;
}

.ul-test > li:before {
  content: '\1F95E';
  margin-top: 6px;
  margin-left: -17px;
}

.widget-anchor {
  padding: 6px 10px;
  border-radius: 6px;
  background-color: purple;
  color: white;
}

.custom-list > li::before {
  background-color: red !important;
  content: '😆' !important;
}

/* 커스텀 버튼모양을 el 요소를 통해 만들었을 때 버튼 수직얼라인 조정 */
.toastui-editor-toolbar-item-wrapper {
  display: flex !important;
  align-items: center;
}

/* ======= Headings ======= */
/* 이걸로 헤딩타입별 마진값 조절 */
.toastui-editor-contents > h1 {
  margin-top: 50px !important;
}

.toastui-editor-popup-add-heading > div > ul > li:nth-child(5) {
  display: none !important;
}

.toastui-editor-popup-add-heading > div > ul > li:nth-child(6) {
  display: none !important;
}