/* ======= Text Background Color ======= */
.toastui-editor-toolbar-icons.bg-color {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath stroke='%23CCC' stroke-width='.8' fill='%23FFF' d='M1.4 1.4h21.2v21.2H1.4z'/%3E%3Cpath d='M4.553 7.847H4L4.084 4h15.832L20 7.847h-.517c-.185-1.054-.437-1.816-.758-2.284-.321-.468-.666-.755-1.035-.86-.369-.107-.998-.16-1.888-.16h-2.623v11.292c0 1.25.03 2.073.09 2.466.06.393.223.684.487.873.265.189.762.283 1.492.283h.794V20H7.91v-.543h.842c.698 0 1.18-.086 1.45-.26.268-.172.44-.442.517-.808.076-.365.114-1.217.114-2.554V4.543H8.415c-1.05 0-1.756.049-2.117.147-.361.099-.7.396-1.017.891-.317.496-.56 1.25-.728 2.266Z' fill='%23333' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: 23px 23px;
}
/* Text Color Background 이미지 변경 */
.toastui-editor-toolbar-icons.color {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='red' d='M18 17h4v4h-4z'/%3E%3Cpath d='M3.61 7.327H3L3.093 3h17.469l.093 4.327h-.57c-.204-1.185-.483-2.042-.837-2.568-.354-.527-.735-.85-1.142-.97-.407-.119-1.102-.178-2.084-.178h-2.894v12.703c0 1.407.034 2.332.1 2.774.066.443.245.77.537.983.293.212.841.318 1.647.318h.876V21H7.314v-.61h.93c.77 0 1.302-.098 1.599-.293.296-.194.487-.497.57-.909.085-.411.127-1.37.127-2.874V3.611H7.872c-1.16 0-1.938.055-2.337.166-.398.11-.772.444-1.121 1.002-.35.557-.618 1.407-.803 2.548Z' fill='%23333' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: 23px 23px;
}

/* ======= Text Decoration ======= */
.toastui-editor-toolbar-icons.text-deco-icon-button {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20v1H4v-1h16ZM16.099 2v9.18c0 3.541-1.31 4.875-4.099 4.875-2.79 0-4.099-1.334-4.099-4.875V2H5.5v9.443C5.5 16.208 7.853 18 12 18s6.5-1.792 6.5-6.557V2h-2.401Z' fill='%23333' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-position-y: 7px;
  background-position-x: center;
  background-size: 20px 20px;
}

.toastui-editor-popup-text-deco .toastui-editor-popup-body {
  padding: 5px 0 !important;
}

.text-deco-icon-button {
  text-decoration: und;
}

.text-deco-custom-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-deco-custom-ul > li {
  padding: 4px 12px;
  cursor: pointer;
  font-weight: bold;
}

.text-deco-custom-ul > li:hover {
  background-color: #dff4ff;
}

.strike-custom-button .icon {
  text-decoration: line-through;
}

.underline-custom-button .icon {
  text-decoration: underline;
}

.text-deco-custom-ul .text {
  margin-left: 6px;
}

/* ======= List Icon ======= */
.ul-test {
  list-style-type: none;
  padding-left: 24px;
}

.ul-test > li:before {
  content: '\1F95E';
  margin-top: 6px;
  margin-left: -17px;
}

.widget-anchor {
  padding: 6px 10px;
  border-radius: 6px;
  background-color: purple;
  color: white;
}

.custom-list > li::before {
  background-color: red !important;
  content: '😆' !important;
}

/* 커스텀 버튼모양을 el 요소를 통해 만들었을 때 버튼 수직얼라인 조정 */
.toastui-editor-toolbar-item-wrapper {
  display: flex !important;
  align-items: center;
}

/* ======= Headings ======= */
/* 이걸로 헤딩타입별 마진값 조절 */
.toastui-editor-contents > h1 {
  margin-top: 50px !important;
  color: #3d3c3f;
  font-weight: 800;
  line-height: 45px;
  font-size: 30px;
}
.toastui-editor-contents > h2 {
  margin-top: 40px !important;
  color: #3d3c3f;
  font-weight: 800;
  line-height: 45px;
  font-size: 30px;
}
.toastui-editor-contents > h3 {
  margin-top: 30px !important;
  color: #3d3c3f;
  font-weight: 800;
  line-height: 36px;
  font-size: 22px;
}
.toastui-editor-contents > h4 {
  margin-top: 20px !important;
  color: #3d3c3f;
  font-weight: 800;
  line-height: 28px;
  font-size: 14px;
}

.toastui-editor-popup-add-heading > div > ul > li:nth-child(5) {
  display: none !important;
}

.toastui-editor-popup-add-heading > div > ul > li:nth-child(6) {
  display: none !important;
}

/* Custom Quote 커스텀 인용구 */
.toastui-editor-toolbar-icons.custom-blockquote {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.402 5.134c.267.201.34.564.185.848l-.054.083-3.058 4.042c.294-.034.593-.038.894-.012 2.464.216 4.288 2.38 4.073 4.834-.214 2.455-2.386 4.27-4.85 4.054-2.465-.216-4.288-2.38-4.074-4.834.006-.064.013-.127.021-.19l-.02.19c.015-.18.041-.356.077-.528l.004-.02a4.423 4.423 0 0 1 .793-1.737c.118-.184.226-.34.323-.469 1.02-1.347 2.603-3.39 4.752-6.13a.669.669 0 0 1 .934-.13ZM7.253 11.42a3.142 3.142 0 0 0-3.406 2.846 3.138 3.138 0 0 0 2.86 3.394 3.138 3.138 0 0 0 3.406-2.846 3.138 3.138 0 0 0-2.86-3.394Zm12.19-6.285c.267.201.34.564.185.848l-.054.083-3.058 4.042c.294-.034.594-.038.894-.012 2.465.216 4.288 2.38 4.074 4.834-.215 2.455-2.387 4.27-4.851 4.054-2.465-.216-4.288-2.38-4.074-4.834.006-.064.013-.127.021-.19l-.02.19c.015-.18.041-.356.077-.528l.005-.02a4.423 4.423 0 0 1 .792-1.737c.118-.184.226-.34.323-.469 1.02-1.347 2.603-3.39 4.752-6.13a.669.669 0 0 1 .934-.13Zm-2.148 6.285a3.142 3.142 0 0 0-3.406 2.846 3.138 3.138 0 0 0 2.86 3.394 3.138 3.138 0 0 0 3.405-2.846 3.138 3.138 0 0 0-2.86-3.394Z' fill='%23333' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 23px 23px;
}

.toastui-editor-toolbar-icons.custom-blockquote.active {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.402 5.134c.267.201.34.564.185.848l-.054.083-3.058 4.042c.294-.034.593-.038.894-.012 2.464.216 4.288 2.38 4.073 4.834-.214 2.455-2.386 4.27-4.85 4.054-2.465-.216-4.288-2.38-4.074-4.834.006-.064.013-.127.021-.19l-.02.19c.015-.18.041-.356.077-.528l.004-.02a4.423 4.423 0 0 1 .793-1.737c.118-.184.226-.34.323-.469 1.02-1.347 2.603-3.39 4.752-6.13a.669.669 0 0 1 .934-.13ZM7.253 11.42a3.142 3.142 0 0 0-3.406 2.846 3.138 3.138 0 0 0 2.86 3.394 3.138 3.138 0 0 0 3.406-2.846 3.138 3.138 0 0 0-2.86-3.394Zm12.19-6.285c.267.201.34.564.185.848l-.054.083-3.058 4.042c.294-.034.594-.038.894-.012 2.465.216 4.288 2.38 4.074 4.834-.215 2.455-2.387 4.27-4.851 4.054-2.465-.216-4.288-2.38-4.074-4.834.006-.064.013-.127.021-.19l-.02.19c.015-.18.041-.356.077-.528l.005-.02a4.423 4.423 0 0 1 .792-1.737c.118-.184.226-.34.323-.469 1.02-1.347 2.603-3.39 4.752-6.13a.669.669 0 0 1 .934-.13Zm-2.148 6.285a3.142 3.142 0 0 0-3.406 2.846 3.138 3.138 0 0 0 2.86 3.394 3.138 3.138 0 0 0 3.405-2.846 3.138 3.138 0 0 0-2.86-3.394Z' fill='%2345abde' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 23px 23px;
}

.toastui-editor-contents > blockquote {
  border: none;
  margin: 0;
  padding: 0;
}

.toastui-editor-contents > blockquote:before {
  content: '       ';
  display: block;
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 50px 0;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.402 5.134c.267.201.34.564.185.848l-.054.083-3.058 4.042c.294-.034.593-.038.894-.012 2.464.216 4.288 2.38 4.073 4.834-.214 2.455-2.386 4.27-4.85 4.054-2.465-.216-4.288-2.38-4.074-4.834.006-.064.013-.127.021-.19l-.02.19c.015-.18.041-.356.077-.528l.004-.02a4.423 4.423 0 0 1 .793-1.737c.118-.184.226-.34.323-.469 1.02-1.347 2.603-3.39 4.752-6.13a.669.669 0 0 1 .934-.13ZM7.253 11.42a3.142 3.142 0 0 0-3.406 2.846 3.138 3.138 0 0 0 2.86 3.394 3.138 3.138 0 0 0 3.406-2.846 3.138 3.138 0 0 0-2.86-3.394Zm12.19-6.285c.267.201.34.564.185.848l-.054.083-3.058 4.042c.294-.034.594-.038.894-.012 2.465.216 4.288 2.38 4.074 4.834-.215 2.455-2.387 4.27-4.851 4.054-2.465-.216-4.288-2.38-4.074-4.834.006-.064.013-.127.021-.19l-.02.19c.015-.18.041-.356.077-.528l.005-.02a4.423 4.423 0 0 1 .792-1.737c.118-.184.226-.34.323-.469 1.02-1.347 2.603-3.39 4.752-6.13a.669.669 0 0 1 .934-.13Zm-2.148 6.285a3.142 3.142 0 0 0-3.406 2.846 3.138 3.138 0 0 0 2.86 3.394 3.138 3.138 0 0 0 3.405-2.846 3.138 3.138 0 0 0-2.86-3.394Z' fill='%23333' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 51px 42px;
  background-position: center;
}

.toastui-editor-contents > blockquote > p {
  color: #000;
}
