// Text Background Color
.toastui-editor-toolbar-icons.bg-color {
  background: none;
}

/* Text Decoration */
.toastui-editor-toolbar-icons.underline {
  background: none;
}

.custom-button {
  background: none;
  width: 62px;
  padding: 4px;
  cursor: pointer;
}

.custom-button .strike.icon {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}
